@model Buffet.ViewModels.Private.Evento.EventoViewModel;

@{
    ViewData["Title"] = "Eventos";
}

<div class="card mt-2">
    <div class="card-body">
        <h3>Cadastro de Eventos</h3>

        <form class="mt-3" method="post" asp-controller="Evento" asp-action="Store">
            <input type="hidden" name="id" value="@Model.id" />
            <div class="form-group form-row">
                <div class="col-6">
                    <label for="descricao">Descrição</label>
                    <input required type="text" value="@Model.descricao" name="descricao" class="form-control" id="descricao">
                </div>
                <div class="col-6">
                    <label for="tipoCliente">Tipo de Evento</label>
                     <select id="tipoCliente"name="tipoCliente" class="form-control">
                        @foreach (var t in Model.tipos)
                        {
                            @if( Model.id == 0 )
                            {
                                <option value="@t.Id">@t.Descricao</option>
                            } 
                            else
                            {
                                if (Model.tipoEvento.Equals(t))
                                {
                                    <option selected value="@t.Id">@t.Descricao</option>       
                                }
                                else
                                {       
                                    <option value="@t.Id">@t.Descricao</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group form-row">
                
                <div class="col-6 d-flex flex-column">
                    <div class="m-1">
                        <label for="dataInicio">Inicio</label>
                        <input required type="date" asp-for="dataInicio.Date"  name="dataInicio" class="form-control" id="dataInicio">
                    </div>
                    <div class="m-1">
                        <input required type="time" value="@Model.dataInicio.TimeOfDay" name="horaInicio" class="form-control" id="horaInicio">
                    </div>
                </div>
                <div class="col-6 d-flex flex-column">
                    <div class="m-1">
                        <label for="">Fim</label>
                        <input required type="date" asp-for="dataFim.Date" name="dataFim" class="form-control" id="dataFim">
                    </div>
                    <div class="m-1">
                        <input required type="time" value="@Model.dataFim.TimeOfDay" name="horaFim" class="form-control" id="horaFim">
                    </div>
                </div>
            </div>
            <div class="form-group form-row">
                <div class="form-group col-4">
                    <label for="enderecoEstadoCliente">Cliente</label>
                    <select id="cliente" name="clienteId" class="form-control">
                        @foreach (var t in Model.Clientes)
                        {
                            @if (Model.id == 0)
                            {
                                <option value="@t.Id">@t.Nome</option>
                            }
                            else
                            {
                                if (Model.Cliente.Equals(t))
                                {
                                    <option selected value="@t.Id">@t.Nome</option>

                                }
                                else
                                {
                                    <option value="@t.Id">@t.Nome</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class=" form-group col-4">
                    <label for="enderecoCidadeCliente">Situação do Evento</label>
                    <select id="situacao" name="situacaoId" class="form-control">
                        @foreach (var t in Model.Situacoes)
                        {
                            @if (Model.id == 0)
                            {
                                <option value="@t.Id">@t.Descricao</option>
                            }
                            else
                            {
                                if (Model.SituacaoEvento.Equals(t))
                                {
                                    <option selected value="@t.Id">@t.Descricao</option>

                                }
                                else
                                {
                                    <option value="@t.Id">@t.Descricao</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group col-4">
                    <label for="local">Local</label>
                    <select id="local" name="localId" class="form-control">
                        @foreach (var t in Model.Locais)
                        {
                            @if (Model.id == 0)
                            {
                                <option value="@t.Id">@t.Descricao</option>
                            }
                            else
                            {
                                if (Model.Cliente.Equals(t))
                                {
                                    <option selected value="@t.Id">@t.Descricao</option>

                                }
                                else
                                {
                                    <option value="@t.Id">@t.Descricao</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="obsCliente">Observações</label>
                <textarea name="obs" value="@Model.obs" class="form-control" id="obs">@Model.obs</textarea>
            </div>

            <div class="col-12 d-flex justify-content-end"><button type="submit" class="btn btn-primary">Enviar</button></div>
        </form>
    </div>
</div>
