@using Buffet.Models.Acesso
@{
    ViewData["Title"] = "Painel do Usuário";
}
<div class="row">
    <div class="col">
        <div class="card mt-2">
                <div class="card-body">
                    <div>
                        @if (ViewBag.error != null)
                        {
                            <p class="alert alert-danger">@ViewBag.error</p>
                        }
                        @if (ViewBag.mensagem != null)
                        {
                            <p class="alert alert-success">@ViewBag.mensagem</p>
                        }
                        @if (ViewBag.erros != null)
                        {
                            @foreach (var e in ViewBag.erros)
                            {
                                <p class="alert alert-danger">@e</p>
                            }   
                        }
                    </div>
                    <div class="row">
                        <div class="col">
                            <h3>Atualizar senha</h3>
                            <form method="post" asp-controller="User" asp-action="UpdateUser">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input required type="text" value="@User.Identity.Name" class="form-control" id="email" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="oldPassword">Senha atual</label>
                                    <input required type="password" class="form-control" id="oldPassword" name="oldPassword">
                                </div>
                                <div class="form-group">
                                    <label for="newPassword">Nova senha</label>
                                    <input required type="password" class="form-control" id="newPassword" name="newPassword">
                                </div>
                                <div class="form-group">
                                    <label for="newPasswordConfirm">Confirmar nova senha</label>
                                    <input required type="password" class="form-control" id="newPasswordConfirm" name="newPasswordConfirm">
                                </div>
                                <button type="submit" class="btn btn-primary">Atualizar</button>
                            </form>
                        </div>
                        <div class="col">
                            <h3>Lista de acessos</h3>
                            <ul class="list-group">
                                @if (ViewBag.acessos != null)
                                {
                                    @foreach (var e in (List<AcessoEntity>) ViewBag.acessos)
                                    {
                                        <li class="list-group-item">
                                            @e.NomeUsuario / Acessado em @e.AcessadoEm
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>